* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f7;
    padding: 30px 0 0;
    opacity: 0.9;
}

@media (max-width: 600px) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0 16px;
    }
}

nav li {
    padding: 20px 20px 15px 20px
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 20px;
    font-weight: bold;
}

nav li:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e5e5e7;
    opacity: 0.5;
}


/* nav end */


/* welcome start*/

.welcome-section {
    background-color: #e7e8ec;
    background-image: linear-gradient( 115deg, rgba(253, 253, 255, 0.8), rgba(190, 190, 191, 0.7)), url(https://img.freepik.com/free-photo/cozy-desktop-with-coffee-laptop_23-2147833250.jpg?w=1380&t=st=1660920465~exp=1660921065~hmac=01a6d1306ee73b4afbf79749ddb768db879b7e5dde3a70b1a5816d0c6a503c6c);
    /* background-image: linear-gradient( 115deg, rgba(253, 253, 255, 0.8), rgba(190, 190, 191, 0.7)), url(https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?cs=srgb&dl=pexels-j%C3%A9shoots-238118.jpg&fm=jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    line-height: 2.5rem
}

.welcome-section h1 {
    font-size: 40px;
    opacity: 0.8;
}


/* welcome end */

.about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-section h2 {
    font-size: 40px;
    opacity: 0.8;
}


/* about start*/

.about-me-title {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    width: 400px
}

.about-me-text {
    height: auto;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-justify: distribute;
    padding: 10px;
    width: 440px;
    /* word-wrap: break-word;
    white-space: pre-wrap; */
    margin: 0 40px;
}

@media (max-width: 450px) {
    .about-me-text {
        height: auto;
        font-size: 1rem;
        line-height: 2rem;
        text-justify: distribute;
        padding: 10px;
        width: 300px;
        /* word-wrap: break-word;
        white-space: pre-wrap; */
        margin: 0 40px;
    }
}


/* about end*/


/* project start*/

.projects-section {
    text-align: center;
    padding: 100px 30px;
    background: #D8D9DC;
}

.projects-section-header {
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border: 4px solid #e5e5e7;
    border-radius: 25px;
}

.project-title {
    margin: 10px 40px 0;
    padding: 15px 0 15px;
    text-align: center;
    background: #e5e5e7;
    border-radius: 25px;
    font-size: 20px;
    opacity: 0.8;
}

.project-title:hover {
    background: #cecece;
    opacity: 0.5;
}

.show-all {
    margin: 15px 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    background: #f5f5f7;
    border-radius: 25px;
}

.show-all:hover {
    background: #cecece;
    opacity: 0.5;
}


/* contact start */

.contact-section {
    background: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    line-height: 2.5rem
}

.contact-section h2 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 45px;
}

.contact-section p {
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.contact-section a {
    margin: 0 10px 0;
}


/* project end */


/* footer start */

footer {
    /* background: #f5f5f7; */
    background: #D8D9DC;
    padding: 20px 0 20px;
    text-align: center;
}

.contact-links {
    font-size: 1.5rem;
    padding: 10px 0 10px;
}

.contact-details:hover {
    font-size: 2rem;
}

@media (max-width: 520px) {
    .contact-links {
        font-size: 1rem;
        padding: 10px 0 10px;
    }
    .contact-details:hover {
        font-size: 1.5rem;
    }
}


/* footer end */